<div class="characteristics">
  <ul>
    <li>
      <img [src]="merchantSettingsService.data?.ui?.landing?.appCharacteristicsCheckmarkImageUrl">
      {{ 'Safe' | translate }}
    </li>

    <li>
      <img [src]="merchantSettingsService.data?.ui?.landing?.appCharacteristicsCheckmarkImageUrl">
      {{ 'Simple' | translate }}
    </li>

    <li>
      <img [src]="merchantSettingsService.data?.ui?.landing?.appCharacteristicsCheckmarkImageUrl">
      {{ 'Secure_(disambiguation:safe-simple-secure)_' | translate }}
    </li>
  </ul>
</div>
