.alert-card-matching-alert {
  background-color : #000000;
  border-color     : #606060;
  color            : #ffffff;
  margin-left      : auto;
  margin-right     : auto;
  margin-top       : 2rem;
  padding-left     : 10px;
  padding-right    : 10px;
  max-width        : 30rem;
  text-align       : center;
  width            : 100%;
}
