.ant-steps {
  flex-wrap : wrap;
}

.ant-steps-item-title {
  line-height : 1.5rem;
}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after,
.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color : #cdcdcd;
}

.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after,
.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: #cdcdcd;
}
