<section class="bg-home4 overflow-hidden">
  <div id="home" class="container">
    <div class="card-container text-center bg-body-tertiary rounded-3 shadow">
      <div class="card-heading pt-5 my-5" translate>
        <ul class="slogan-list">
          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>Who likes paying federal income taxes? — <strong>NO ONE</strong></span>
            </h4>
          </li>

          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>Who likes receiving or looking forward to their monthly
                Social Security? — <strong>EVERYONE</strong></span>
            </h4>
          </li>

          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>Who wants to help the Social Security Trust Fund stay secure
                for everyone? — <strong>YOU</strong></span>
            </h4>
          </li>
        </ul>
      </div>

      <div class="p-5 section-1">
        <h2>
          <span translate class="home-title">Tax-Free for Life</span>
        </h2>

        <h3 translate>
          A U. S. Government Lottery available in all 50 states
        </h3>

        <img src="assets/images/logos/favicon.png"/>

        <ul>
          <li translate>Every Drawing Has One Winner</li>

          <li translate>Stop Paying Federal Income Tax</li>

          <li translate>Or get a refund for the last 10 years</li>
        </ul>

        <a href="javascript: void(0);"
           class="btn btn-primary mt-4 top-apply-button"
           [routerLink]="'/'">

          <span translate>Learn More</span>
        </a>
      </div>

      <div id="tax-free-for-life" class="section dark-background-section">
        <ul class="slogan-list">
          <li class="tffl-isnt-another-game">
            <h4>
<!--              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">-->
<!--                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>-->
<!--              </svg>-->

              <div translate>Tax-Free For Life isn’t just another game of chance</div>

              <div translate>It’s the American Dream. </div>
            </h4>
          </li>
        </ul>
      </div>

      <div id="tax-free-for-life-no-picking-numbers" class="section ligh-background-section">
        <ul class="slogan-list">
          <li>
            <div>
              <p>
                <em translate>No picking numbers.</em>
                <br>
                <em translate>No scratching tickets.</em>
              </p>
            </div>
          </li>
        </ul>
      </div>

      <div class="section section-2 dark-background-section">
        <ul class="slogan-list">
          <li>
            <h4 class="fw-bold">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span>
                <strong translate>Stop Paying Federal Income Tax or Get a Lump Sum Tax Refund for the last 10
                  Years</strong>
              </span>
            </h4>
          </li>

          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>Drawings Thursday and Sunday— a winner in every drawing in every state</span>
              <br>
              <strong translate>100 winners Nationwide per week</strong>
            </h4>
          </li>

          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>Each entry for the drawing is $10 with a maximum of 5 entries per game.</span>
            </h4>
          </li>

          <li class="star-align-center">
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <a href="javascript: void(0);"
                 (click)="utilsService.scrollToSectionById('how-it-works')"
                 class="btn btn-primary mt-4 top-apply-button">

                <span translate>Learn More</span>
              </a>

              <span class="blue-dots">....</span>
              <span translate>it’s quick, easy and FREE</span>
            </h4>
          </li>

          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>What are your odds</span>
              <span class="blue-dots">....</span>
              <span translate>to Stop Paying Taxes</span>

              <a href="javascript: void(0);"
                 (click)="utilsService.scrollToSectionById('your-odds')"
                 class="btn btn-primary mt-4 top-apply-button stop-paying-taxes-button">

                <span translate>Learn More</span>
              </a>
            </h4>
          </li>
        </ul>
      </div>

      <div id="how-it-works" class="section section-3 light-background-section">
        <h2 translate>
          Here’s How It Works
        </h2>

        <p translate>
          To register for an account a player must be a United States resident, 18 years of age or older, and pass an
          identity verification process, which requires a state driver’s license or government ID number.
        </p>

        <ul class="slogan-list">
          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>Register Once.</span>
            </h4>

            <p>
              <strong translate>When you register for the official U.S. Government Lottery — available in all 50 states
                — you’ll be issued a unique "Tax-Free for Life" Identification Number.</strong>
            </p>

            <p translate>
              This number becomes your permanent credential for all future lottery participation, securely linking you
              to every drawing.
            </p>
          </li>

          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>What are your odds…. to Stop Paying Taxes.</span>
            </h4>

            <p translate>
              What if one simple entry could change your life — and help millions more?
            </p>

            <p>
              <span translate>Every time you play, you’re not just taking a shot at <em>never paying federal income tax
                again.</em></span>
              <br>
              <span translate>You’re making real impact.</span>
            </p>
          </li>

          <li class="drawing-and-selection">
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>Drawing and Selection.</span>
            </h4>

            <div>
              <p>
                <strong translate>Each Sunday and Thursday, we hold a random drawing in every state.</strong>
              </p>

              <p>
                <strong translate>
                  One Tax-Free ID is selected per state. If it’s yours — you win.
                  <br>
                  If it’s yours — you win.
                </strong>
              </p>

              <p>
                <strong translate>That’s it. No guesswork. No gimmicks. Just your ID, your state, your shot.</strong>
              </p>
            </div>
          </li>
        </ul>

        <a href="javascript: void(0);"
           class="btn btn-primary mt-4 top-apply-button"
           [routerLink]="'/enroll'">

          <span translate>Register Now</span>
        </a>
      </div>

      <div id="your-odds" class="section section-4 dark-background-section">
        <h2 translate>
          Your Odds? Better Than You Think.
        </h2>

        <p>
          <span translate>Your entry goes into a state-specific drawing based on your driver's license or
            government-issued ID.
          </span>&nbsp;<strong translate>Your
          entry for each game is tied to the state listed on your driver's license or government-issued ID.</strong>
        </p>

        <p>
          <span translate>That means you’re only competing against others in your state —
          </span>&nbsp;<strong translate>not the whole country.</strong>
        </p>

        <p translate>
          100 Winners in your state each week — Those 100 people will never pay Federal Income Tax again or get a Tax
          Refund for what you paid for the last 10 years.
        </p>

        <p translate>
          Every entry you make does more than give you a shot at freedom from taxes. It helps <strong>fund the Social
          Security
          Trust Fund</strong>&nbsp;— strengthening benefits for millions of Americans, including you.
        </p>

        <p translate>
          So go ahead.
          <br>
          <strong>Play for your future. Play for everyone's.</strong>
        </p>

        <a href="javascript: void(0);"
           class="btn btn-primary mt-4 top-apply-button"
           [routerLink]="'/enroll'">

          <span translate>Register Now</span>
        </a>

        <ul class="slogan-list">
          <li class="tffl-isnt-another-game">
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>Tax-Free For Life isn’t just another game of chance — it’s the American Dream.</span>
            </h4>

            <div>
              <p>
                <span translate>No Federal Taxes. Guaranteed Social Security.</span>
                <br>
                <br>
                <em translate>No picking numbers.</em>
                <br>
                <em translate>No scratching tickets.</em>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
