<section class="bg-home4 overflow-hidden">
  <div id="home" class="container">
    <div class="card-container text-center bg-body-tertiary rounded-3 shadow">
      <div class="card-heading pt-5 my-5" translate>
        <ul class="slogan-list list-to-left">
          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span>
                <span class="main-text" translate>Who likes paying federal income taxes?</span>
                — <strong translate>NO ONE</strong></span>
            </h4>
          </li>

          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span>
                <span class="main-text" translate>Who likes receiving or looking forward to their monthly Social
                  Security?
                </span>
                — <strong translate>EVERYONE</strong></span>
            </h4>
          </li>

          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span>
                <span class="main-text" translate>Who wants to help the Social Security Trust Fund stay secure for
                  everyone?
                </span>
                — <strong translate>YOU</strong></span>
            </h4>
          </li>
        </ul>
      </div>

      <div class="p-5 section-1">
        <h2>
          <span translate class="home-title">Tax-Free for Life</span>
        </h2>

        <h3 translate>
          A U. S. Government Lottery available in all 50 states
        </h3>

        <img src="assets/images/logos/favicon.png"/>

        <ul>
          <li translate>Every Drawing Has One Winner</li>

          <li translate>Stop Paying Federal Income Tax</li>

          <li translate>Or get a refund for the last 10 years</li>
        </ul>

        <a href="javascript: void(0);"
           class="btn btn-primary mt-4 btn-rounded-primary"
           [routerLink]="'/'">

          <span translate>Play&nbsp;&nbsp;&nbsp;Now</span>
        </a>
      </div>

      <div id="tax-free-for-life" class="section dark-background-section">
        <ul class="slogan-list">
          <li class="tffl-isnt-another-game">
            <h4>
              <!--              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">-->
              <!--                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>-->
              <!--              </svg>-->

              <div translate>Tax-Free For Life isn’t just another game of chance</div>

              <div translate>It’s the American Dream.</div>
            </h4>
          </li>
        </ul>
      </div>

      <div id="tax-free-for-life-no-picking-numbers" class="section ligh-background-section">
        <ul class="slogan-list">
          <li>
            <div>
              <h4>
                <strong><em translate>No picking numbers.</em></strong>
                <br>
                <br>
                <strong><em translate>No scratching tickets.</em></strong>
              </h4>
            </div>
          </li>
        </ul>
      </div>

      <div class="section section-2 dark-background-section">
        <ul class="slogan-list list-to-left">
          <li>
            <h4 class="fw-bold">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>100 winners Nationwide per week</span>
            </h4>
          </li>

          <li>
            <h4 class="fw-bold">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>Stop Paying Federal Income Tax or Get a Lump Sum Tax Refund for the last 10 Years</span>
            </h4>
          </li>

          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>Drawings Thursday and Sunday— a winner in every drawing in every state</span>
            </h4>
          </li>

          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>Each entry for the drawing is $10 with a maximum of 5 entries per game</span>
            </h4>
          </li>

          <li class="star-align-center its-quick-and-easy">
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>It’s quick and easy</span>

              <span class="learn-more-container">
                <a href="javascript: void(0);"
                   (click)="utilsService.scrollToSectionById('how-it-works')"
                   class="btn btn-primary mt-4 stop-paying-taxes-button">

                  <span translate>Learn More</span>
                </a>
              </span>
            </h4>
          </li>

          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>What are your odds</span>
              <span class="blue-dots">....</span>
              <span translate>to Stop Paying Taxes</span>

              <span class="learn-more-container">
                <a href="javascript: void(0);"
                   (click)="utilsService.scrollToSectionById('your-odds')"
                   class="btn btn-primary mt-4 stop-paying-taxes-button">

                  <span translate>Learn More</span>
                </a>
              </span>
            </h4>
          </li>
        </ul>
      </div>

      <div id="how-it-works" class="section section-3 light-background-section">
        <h2 translate>
          Here’s How It Works
        </h2>

        <p class="left-aligned-p" translate>
          To register for Tax-Free For Life, you must be a United States resident, 18 years of age or older,
          <br>
          with a state driver’s license or government ID number.
        </p>

        <ul class="slogan-list">
          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>Register Once.</span>
            </h4>

            <p class="left-aligned-p">
              <strong translate>When you register for the official U.S. Government Lottery — available in all 50 states
                — you’ll be issued
                <br>
                a unique "Tax-Free for Life" Player Number.</strong>
            </p>

            <p class="left-aligned-p" translate>
              This player number will serve as your permanent credential, providing secure access to all upcoming lottery
              entries and drawings.
            </p>
          </li>

          <li>
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>What are your odds…. to Stop Paying Taxes.</span>
            </h4>

            <p class="left-aligned-p">
              <strong translate>
                Your odds of winning each week are determined by the number of participants in the state
                where your driver's license or state ID was issued. They are not based on the total number of players
                nationwide.
              </strong>
            </p>

            <p>
              <span><em translate>Every time you play, you’re contributing to a stronger Social Security system for
                all.</em></span>
            </p>
          </li>

          <li class="drawing-and-selection">
            <h4>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="24" height="24" fill="currentColor">
                <polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35"/>
              </svg>

              <span translate>Drawing and Selection.</span>
            </h4>

            <div>
              <p class="left-aligned-p">
                <strong translate>A drawing is held in every state each Sunday and Thursday.</strong>
              </p>

              <p class="left-aligned-p">
                <strong translate>
                  One Tax-Free ID is picked in every state. If it’s yours, congratulations—you win!
                </strong>
              </p>

              <p class="left-aligned-p">
                <strong translate>No puzzles, no hoops to jump through. Just your ID and your opportunity.</strong>
              </p>
            </div>
          </li>
        </ul>

        <a href="javascript: void(0);"
           class="btn btn-secondary mt-4 btn-rounded-secondary"
           [routerLink]="'/enroll'">

          <span translate>Enroll&nbsp;&nbsp;&nbsp;Now</span>
        </a>
      </div>
    </div>
  </div>
</section>
