<section class="bg-home4 overflow-hidden">
  <div id="home" class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3 shadow">
      <h2>
        <span translate class="home-title">Tax Free for Life</span>
      </h2>

      <p class="text-dark-emphasis fs-20 pt-5" translate>
        Empowering Americans with tax-free retirement strategies.

        <br>
        Learn how to secure your future and keep more of what you earn—forever.
      </p>

      <a href="javascript: void(0);"
         class="btn btn-primary mt-4 top-apply-button"
         [routerLink]="'/'">

        <span translate>Learn More</span>
      </a>
    </div>
  </div>
</section>
