<section class="section" id="faq">
  <div class="container">
    <div class="row">
      <div class=col-12>
        <div class="p-5 text-left bg-body-tertiary rounded-3 shadow">
          <div class="text-center mb-5 pb-2">
            <h3 translate>Privacy Policy for Tax-Free for Life</h3>

            <p class="text-dark-emphasis mt-2" translate>
              Last Modified: November 6, 2023
            </p>
          </div>

          <p translate>
            This Privacy Policy governs all services provided to participants in the Tax-Free For Life program through
            any iVPN-operated site or platform. It also applies to all technologies, processes, and data-handling
            practices used in delivering those services.
          </p>

          <p translate>
            Please review our <a href="javascript: void(0);"
                                 [routerLink]="'/tos'"
                                 target="_blank" translate>Terms of Service</a> and this <a href="javascript: void(0);"
                                                                                            [routerLink]="'/privacy'"
                                                                                            target="_blank" translate>Privacy
            Policy</a> in full before using the App or submitting any
            information. By accessing or using the App, you agree to the terms outlined in both documents. If you do not
            agree, you are not authorized to use the App, and your sole remedy is to discontinue use.
          </p>

          <accordion class="mt-5">
            <accordion-group #accordionGroup1>
              <button accordion-heading
                      type="button">

                <span translate>
                  Policy Regarding Individuals Under 18 Years of Age
                </span>

                <app-landsay-page-accordion-indicator-icon
                  [accordionRef]="accordionGroup1"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div>
                <p translate>
                  The Tax-Free For Life App is intended solely for individuals who are 18 years of age or older.
                  Individuals under the age of 18 are strictly prohibited from accessing or using the App or its
                  services.
                </p>

                <p translate>
                  We do not knowingly collect or store any personal information from individuals under the age of 18. If
                  you are under 18, do not attempt to register, use the App, or submit any personal information to us.
                </p>

                <p translate>
                  If we become aware that we have inadvertently collected personal data from a user under the age of 18,
                  we will promptly delete that information from our records in accordance with our data protection
                  practices.
                </p>
              </div>
            </accordion-group>

            <accordion-group #accordionGroup2 [isDisabled]="true">
              <button accordion-heading
                      type="button">

                <span translate>
                  Your Information
                </span>

                <app-landsay-page-accordion-indicator-icon
                  class="visibility-hidden"
                  [accordionRef]="accordionGroup2"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div translate>
                (No Content Available)
              </div>
            </accordion-group>

            <accordion-group #accordionGroup3>
              <button accordion-heading
                      type="button">

                <span translate>
                  1. Information We Collect
                </span>

                <app-landsay-page-accordion-indicator-icon
                  [accordionRef]="accordionGroup3"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div>
                <p translate>
                  Tax-Free For Life ("TFFL") collects a variety of information from users to operate effectively and
                  provide a better experience. This includes both personally identifiable information and aggregated,
                  non-identifying data.
                </p>
              </div>
            </accordion-group>

            <accordion-group #accordionGroup4>
              <button accordion-heading
                      type="button">

                <span translate>
                  2. User Information
                </span>

                <app-landsay-page-accordion-indicator-icon
                  [accordionRef]="accordionGroup4"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div>
                <p translate>
                  "User Information" refers to the data you provide or is automatically collected when you access or use
                  the TFFL app or platform. This may include:
                </p>

                <ul>
                  <li translate>
                    Geo-Location Data
                    <br>
                    If you access the TFFL platform via a smartphone or mobile device, we may automatically collect your
                    device’s geo-location. You can opt out of sharing location data through your device settings;
                    however, disabling location services may impact the availability of certain features.
                  </li>

                  <li translate>
                    Device Type and Identifiers
                    <br>
                    We collect details about the device you use, including its type and advertising identifier (a
                    unique, anonymized code generated by your device).
                  </li>

                  <li translate>
                    Usage and Tracking Information
                    <br>
                    We automatically gather data as you navigate the platform, such as page views, referring pages,
                    interactions with content and links, and user behavior trends. We also track your engagement with
                    specific services, features, promotions, or third-party offerings available through TFFL.
                  </li>
                </ul>

                <p translate>
                  TFFL does not sell, rent, or otherwise disclose your User Information except as described in this
                  Privacy Policy, our Terms of Use, or as required by law. We may use your User Information to:
                </p>

                <ul>
                  <li translate>
                    Deliver requested content or services
                  </li>

                  <li translate>
                    Provide customer and technical support
                  </li>

                  <li translate>
                    Maintain and improve our platform and services
                  </li>

                  <li translate>
                    Address and resolve technical or security issues
                  </li>
                </ul>
              </div>
            </accordion-group>

            <accordion-group #accordionGroup5>
              <button accordion-heading
                      type="button">

                <span translate>
                  3. Non-Public Personal Information
                </span>

                <app-landsay-page-accordion-indicator-icon
                  [accordionRef]="accordionGroup5"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div>
                <p translate>
                  "Non-Public Personal Information" refers to identifiable data such as your name, username, password,
                  and any additional login or account credentials ("Personal Information").
                </p>

                <p translate>
                  To register and use certain features of the TFFL platform, you must submit Personal Information. We
                  may use this data to:
                </p>

                <ul>
                  <li translate>Authenticate your identity</li>

                  <li translate>Grant access to services</li>

                  <li translate>Respond to support inquiries or requests</li>

                  <li translate>Send important updates about changes to our terms and policies</li>

                  <li translate>Contact you about promotions or new services</li>

                  <li translate>Improve platform performance and user experience</li>

                  <li translate>Comply with legal obligations</li>

                  <li translate>Facilitate secure payment transactions</li>
                </ul>

                <p translate>
                  TFFL will not disclose your Personal Information to third parties except as described herein or as
                  required by applicable law.
                </p>
              </div>
            </accordion-group>

            <accordion-group #accordionGroup6>
              <button accordion-heading
                      type="button">

                <span translate>
                  4. Aggregated Information
                </span>

                <app-landsay-page-accordion-indicator-icon
                  [accordionRef]="accordionGroup6"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div>
                <p translate>
                  We collect and retain de-identified, aggregated data derived from the use of the TFFL platform. This
                  "Aggregated Information" includes statistical or analytical data that does not personally identify any
                  user.
                </p>

                <p translate>
                  TFFL exclusively owns all rights to this Aggregated Information and may use it without obligation to
                  you, including for research, development, business analytics, or service improvement purposes.
                </p>
              </div>
            </accordion-group>

            <accordion-group #accordionGroup7>
              <button accordion-heading
                      type="button">

                <span translate>
                  5. User-Generated Content
                </span>

                <app-landsay-page-accordion-indicator-icon
                  [accordionRef]="accordionGroup7"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div>
                <p translate>
                  "User-Generated Content" includes any feedback, comments, suggestions, enhancement ideas, or other
                  content you submit to TFFL through the platform.
                </p>

                <p translate>
                  By submitting such content, you agree that:
                </p>

                <ul>
                  <li translate>TFFL has the unrestricted right to use, display, distribute, or disclose it (in whole or
                    in part) for any purpose.
                  </li>

                  <li translate>TFFL owns all rights, title, and interest in any User-Generated Content submitted
                    through the platform.
                  </li>

                  <li translate>We have no obligation to retain or protect the confidentiality of any such content.</li>
                </ul>
              </div>
            </accordion-group>

            <accordion-group #accordionGroup8>
              <button accordion-heading
                      type="button">

                <span translate>
                  6. Changes to This Privacy Policy
                </span>

                <app-landsay-page-accordion-indicator-icon
                  [accordionRef]="accordionGroup8"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div>
                <p translate>
                  TFFL reserves the right to update this Privacy Policy at any time. Material changes will be
                  communicated through the platform or other appropriate channels. Continued use of the platform after
                  such changes constitutes your acceptance of the updated policy.
                </p>

                <p translate>
                  If you have any questions regarding this Privacy Policy or your data, please contact us at
                  [<a href="mailto:support&#64;taxfreeforlife.com">support&#64;taxfreeforlife.com</a>].
                </p>
              </div>
            </accordion-group>

            <accordion-group #accordionGroup9>
              <button accordion-heading
                      type="button">

                <span translate>
                  Your Representations and Warranties
                </span>

                <app-landsay-page-accordion-indicator-icon
                  [accordionRef]="accordionGroup9"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div>
                <p translate>
                  By submitting any information to Tax-Free For Life (“TFFL”) through the platform, you represent and
                  warrant that you have the legal right to provide such information and that TFFL is permitted to use it
                  in accordance with our [Terms of Use] and this Privacy Policy. This means you affirm that the
                  information does not infringe upon the rights of any third party and may be used by TFFL without
                  restriction or obligation, including without any requirement for compensation.
                </p>

                <p translate>
                  From time to time, we may require your permission to perform specific actions with the information you
                  submit in order to deliver and improve the TFFL platform and related services. By using the platform,
                  you expressly grant TFFL permission to take such actions as described in this Privacy Policy. This
                  permission also extends to trusted third-party partners who assist in providing, supporting, or
                  enhancing our services.
                </p>
              </div>
            </accordion-group>

            <accordion-group #accordionGroup10>
              <button accordion-heading
                      type="button">

                <span translate>
                  Accessing and Updating Your Information
                </span>

                <app-landsay-page-accordion-indicator-icon
                  [accordionRef]="accordionGroup10"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div>
                <p translate>
                  You have the right to request access to the User Information and Personal Information we maintain
                  about you in our secure database. If any of your information is inaccurate, incomplete, or outdated,
                  you may request that it be corrected or updated.
                </p>

                <p translate>
                  To request access or changes to your information, please contact us in writing at:
                  <br>
                  <br>
                  <strong><a href="mailto:support&#64;taxfreeforlife.com">support&#64;taxfreeforlife.com</a></strong>
                </p>

                <p translate>
                  In addition, all users may access the Tax-Free For Life online portal—available through various
                  affiliated websites and service channels—to update their personal details, manage account settings,
                  and review account activity at any time.
                </p>
              </div>
            </accordion-group>

            <accordion-group #accordionGroup11>
              <button accordion-heading
                      type="button">

                <span translate>
                  Disclosure of Your Information
                </span>

                <app-landsay-page-accordion-indicator-icon
                  [accordionRef]="accordionGroup11"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div>
                <p translate>
                  Tax-Free For Life (“TFFL”) is committed to protecting your privacy. We will only disclose your User
                  Information and Personal Information under the limited circumstances described below, or as otherwise
                  permitted by law. By using our services, you expressly authorize TFFL to share such information in
                  accordance with this Privacy Policy, without additional notice to you.
                </p>

                <ol>
                  <li translate>
                    <p translate>
                      a. Affiliated Entities
                    </p>

                    <p translate>
                      We may share your information with our wholly owned subsidiaries and affiliated companies solely
                      for
                      the purpose of operating the TFFL platform, responding to your inquiries, and providing you with
                      our
                      services.
                    </p>
                  </li>

                  <li translate>
                    <p translate>
                      b. Third-Party Service Providers
                    </p>

                    <p translate>
                      We may engage trusted third-party vendors to perform functions on our behalf, including:
                    </p>

                    <ul>
                      <li translate>App hosting and infrastructure support</li>

                      <li translate>Customer service</li>

                      <li translate>Data analytics and performance enhancement</li>

                      <li translate>Security and fraud prevention</li>

                      <li translate>Marketing support services</li>
                    </ul>

                    <p translate>
                      These providers are given access to your User Information and/or Personal Information only as
                      needed to perform these services and are contractually obligated to protect your data.
                    </p>
                  </li>

                  <li translate>
                    <p translate>
                      c. Aggregated and Non-Personal Information
                    </p>

                    <p translate>
                      We may compile and share aggregated or de-identified information with third parties. This may
                      include statistical or demographic data that does not identify you personally, such as overall
                      user behavior trends or platform usage patterns.
                    </p>

                    <p translate>
                      In some cases, we may share this type of information with advertisers, partners, or analytics
                      providers to improve the platform or for business and marketing purposes. We will remove or
                      anonymize all Personal Information before doing so.
                    </p>
                  </li>

                  <li translate>
                    <p translate>
                      d. Advertising
                    </p>

                    <p translate>
                      We may use non-personally identifiable information to support targeted or behavioral advertising.
                      This helps us deliver more relevant ads to you within the platform, based on your interactions
                      with our services. No Personal Information is used for this purpose.
                    </p>
                  </li>

                  <li translate>
                    <p translate>
                      e. Business Transfers
                    </p>

                    <p translate>
                      In the event of a business transaction—such as a merger, acquisition, sale, or reorganization—your
                      User Information and Personal Information may be among the assets transferred. In such cases, your
                      information will remain subject to the terms outlined in this Privacy Policy.
                    </p>
                  </li>

                  <li translate>
                    <p translate>
                      f. Legal Obligations and Safety
                    </p>

                    <p translate>
                      We may disclose your information when required by law or when we believe in good faith that such
                      disclosure is necessary to:
                    </p>

                    <ul>
                      <li translate>Comply with a legal obligation or regulatory inquiry</li>

                      <li translate>Protect and defend the rights or property of TFFL</li>

                      <li translate>Prevent or investigate wrongdoing or fraud</li>

                      <li translate>Protect the safety of users or the public</li>

                      <li translate>Limit or mitigate our legal liability</li>
                    </ul>

                    <br>
                  </li>

                  <li translate>
                    <p translate>
                      g. Know Your Customer (KYC) Compliance
                    </p>

                    <p translate>
                      To comply with legal and regulatory standards, TFFL may collect and share your information for
                      Know Your Customer (KYC) purposes. This includes verifying your identity to comply with anti-money
                      laundering (AML) and other regulatory requirements.
                    </p>

                    <p>
                      <strong translate>
                        KYC information may include:
                      </strong>
                    </p>

                    <ul>
                      <li translate>Full name, date of birth, nationality, and government-issued ID</li>

                      <li translate>Contact details such as email, phone number, and mailing address</li>

                      <li translate>Financial data such as bank account information (where required)</li>

                      <li translate>Identity verification materials (e.g., photos, driver’s license, passport)</li>

                      <li translate>Any other information required to satisfy legal compliance obligations</li>
                    </ul>

                    <p translate>
                      We share this information only with authorized third parties who assist us in fulfilling
                      regulatory obligations.
                    </p>
                  </li>

                  <li translate>
                    <p translate>
                      h. User Testimonials
                    </p>

                    <p translate>
                      TFFL may display user testimonials on the platform, which may contain limited Personal
                      Information. We will only publish testimonials that include your first name, last initial, and
                      city/state with your express permission.
                    </p>
                  </li>
                </ol>
              </div>
            </accordion-group>

            <accordion-group #accordionGroup12>
              <button accordion-heading
                      type="button">

                <span translate>
                  Data Security and International Transfers
                </span>

                <app-landsay-page-accordion-indicator-icon
                  [accordionRef]="accordionGroup12"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div>
                <p translate>
                  Security of Your Information
                </p>

                <p translate>
                  At <strong>Tax-Free For Life ("TFFL")</strong>, we are committed to protecting the security of your
                  User Information
                  and Personal Information. We implement commercially reasonable physical, administrative, and technical
                  safeguards designed to protect your data from unauthorized access, disclosure, alteration, or
                  destruction.
                </p>

                <p translate>
                  However, please note that no method of transmission over the Internet or method of electronic storage
                  is ever completely secure. Email communications and use of mobile applications may carry inherent
                  risks. As such, we cannot guarantee the absolute security of any information you transmit through the
                  TFFL platform.
                </p>

                <p translate>
                  You are responsible for exercising caution when sharing sensitive information. In the event of a
                  security breach caused by unauthorized third-party access—whether involving our systems or those of a
                  third party (e.g., your Internet Service Provider)—TFFL is not liable for any resulting damages,
                  losses, or disclosures.
                </p>

                <p translate>
                  Additionally, under certain legal circumstances, courts or regulatory authorities may require us to
                  disclose information, and we will comply with such lawful requests.
                </p>
              </div>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
  </div>
</section>
