<section class="section" id="faq">
  <div class="container">
    <div class="row">
      <div class=col-12>
        <div class="p-5 text-left bg-body-tertiary rounded-3 shadow">
          <div class="text-center mb-5 pb-2">
            <h3 translate>Tax-Free for Life Terms of Service</h3>

            <p class="text-dark-emphasis mt-2" translate>
              Effective Date: June 18, 2025
            </p>
          </div>

          <p translate>
            These Terms of Service (the “Agreement”) govern your use of the Tax-Free For Life application and related services offered by iVertical Payment Network, LLC (“iVPN,” “we,” “us,” or “our”). By registering for and using this service, you ("you," "your," or "User") agree to comply with and be bound by these Terms of Service. This Agreement is a legally binding contract between you and iVPN.
          </p>

          <p translate>
            Please read these Terms of Service carefully. If you do not agree to these terms, do not use the Application.
          </p>

          <accordion class="mt-5">
            <accordion-group #accordionGroup1>
              <button accordion-heading
                      type="button">

                <span translate>
                  1. Acceptance of Terms
                </span>

                <app-landsay-page-accordion-indicator-icon
                  [accordionRef]="accordionGroup1"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div>
                <p translate>
                  By completing the online registration and using the Tax-Free For Life application (the "Application"), you:
                </p>

                <ul>
                  <li translate>Acknowledge that you have read, understood, and agree to these Terms.</li>

                  <li translate>Confirm you are of legal age and physically located in a jurisdiction where it is lawful to use this Application.</li>

                  <li translate>Represent and warrant that you are authorized to enter into this Agreement.</li>

                  <li translate>Your continued use of the Application after any modifications constitutes your acceptance of the updated Terms. We reserve the right to modify these Terms at any time without notice, by posting revised terms with the modification date.</li>
                </ul>
              </div>
            </accordion-group>

            <accordion-group #accordionGroup2>
              <button accordion-heading
                      type="button">

                <span translate>
                  2. Scope and Affiliated Services
                </span>

                <app-landsay-page-accordion-indicator-icon
                  [accordionRef]="accordionGroup2"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div>
                <p translate>
                  These Terms apply to the use of the Tax-Free For Life platform and other services or domains operated by iVPN, including but not limited to:
                </p>

                <p translate>
                  All services, technology, and features offered under Tax-Free For Life brand are considered part of the “Application.”
                </p>
              </div>
            </accordion-group>

            <accordion-group #accordionGroup3>
              <button accordion-heading
                      type="button">

                <span translate>
                  3. Defined Terms
                </span>

                <app-landsay-page-accordion-indicator-icon
                  [accordionRef]="accordionGroup3"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div>
                <ul>
                  <li translate>"Application" – All technology, platforms, services, and branded experiences offered by iVPN, including the Tax-Free For Life lottery.</li>

                  <li translate>"Funds" – U.S. currency transmitted or held through the Application.</li>

                  <li translate>"User" – Any individual who creates and maintains an account with iVPN for use of the Application.</li>

                  <li translate>"Personal Information" – Data that directly identifies you, such as your name, address, phone number, date of birth, email, password, and other identifying details. IP addresses and domain names are not considered Personal Information.</li>

                  <li translate>"You" / "Your" – Refers to any person or legal entity accessing or using the Application.</li>
                </ul>
              </div>
            </accordion-group>

            <accordion-group #accordionGroup4>
              <button accordion-heading
                      type="button">

                <span translate>
                  4. Legal Notice
                </span>

                <app-landsay-page-accordion-indicator-icon
                  [accordionRef]="accordionGroup4"></app-landsay-page-accordion-indicator-icon>
              </button>

              <div>
                <p translate>
                  This Agreement governs all rights, obligations, and limitations related to your use of the Tax-Free For Life Application. Any rights not expressly granted herein are reserved by iVPN.
                </p>

                <p translate>
                  Use of the Application where prohibited by law is strictly forbidden. We may suspend or terminate your access at any time for violations of these Terms or applicable law.
                </p>
              </div>
            </accordion-group>
          </accordion>

          <p class="text-dark-emphasis mt-5" translate>
            For more information about how we collect and use your data, please review our Privacy Policy and Terms of Use provided on the site.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
