@media (max-width : 991px) {
  .navbar, .navbar.nav-sticky {
    background-color      : #8ba7d0 !important;
    background-blend-mode : overlay;
    //background-color : rgb(247 248 255 / 72%) !important;
    padding               : 0 !important;

    > .container {
      //background-color : rgba(255, 255, 255, 0.5);
      padding-top    : 12px;
      padding-bottom : 12px;
    }
  }

  #navbar-navList {
    background         : rgb(255 255 255 / 89%);
    box-shadow         : 6px 6px 14px -4px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow : 6px 6px 14px -4px rgba(0, 0, 0, 0.56);
    -moz-box-shadow    : 6px 6px 14px -4px rgba(0, 0, 0, 0.56) !important;
    border-radius      : 6px;
    margin-top         : .5rem;
  }
}

@media (min-width : 992px) {
  .navbar, .navbar.nav-sticky {
    > .container {
      background-color : #8ba7d0;
    }
  }
}

.navbar {
  //background            : url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 100 100"><polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35" fill="white"/></svg>') space, linear-gradient(to right, #0d47a1, #2b79ca);
  ////background            : url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 100 100"><polygon points="50,5 61,35 95,35 67,57 76,91 50,72 24,91 33,57 5,35 39,35" fill="white"/></svg>') space, linear-gradient(to right, #0d47a1, #1976d2);
  //background-size       : 25px 25px, cover;
  //background-blend-mode : soft-light;
  //background-blend-mode : overlay;

  background-image  : url('/assets/images/bg-stars.png');
  background-repeat : repeat;
  background-size   : 140px 100px;
  background-color  : #002868;

  border            : 0.2cm solid #b71c1c;

  @media ((min-width : 992px)) {
    //background-color : rgba(255, 255, 255, 0.5);
  }

  > .container {
    //@media ((min-width : 1200px)) {
    //  background-color : rgba(255, 255, 255, 0.5);
    //}
  }
}

.navbar > div {
  padding-top    : .3rem;
  padding-bottom : .3rem;
}


.navbar .navbar-nav .nav-item > .nav-link {
  color       : #114ea3;
  font-size   : 16px;
  font-weight : 900;

  &:hover, &.active {
    color : #bf0a30
  }
}

.navbar-brand {
  line-height : inherit !important;
  text-align  : center;

  img {
    max-height : 5.5rem;
    //  margin-top : .2rem;
  }

  span {
    background         : rgba(255, 255, 255, 0.89);
    border-radius      : 6px;
    box-shadow         : 6px 6px 14px -4px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow : 6px 6px 14px -4px rgba(0, 0, 0, 0.56);
    -moz-box-shadow    : 6px 6px 14px -4px rgba(0, 0, 0, 0.56);
    display            : block;
    font-size          : 0.7rem;
    line-height        : .9rem;
    font-style         : italic;
    font-weight        : normal;
    letter-spacing     : .02rem;
    margin-top         : .3rem;
    padding            : 0.3rem;
    text-align         : center;
  }
}

#navbar-navList {
  flex            : 1;
  justify-content : center;
}

.navbar-nav {
  .nav-item {
    a {
      text-align : center;
    }
  }
}

ul > li {
  & > button,
  & > a.btn {
    border-radius  : 30px;
    font-size      : 13px;
    outline        : none;
    padding        : 9px 25px;
    text-transform : uppercase;
  }
}

.large-administration-text {
  display : inline;

  @media ((min-width : 992px) and (max-width : 1200px)) {
    display : none !important;
  }
}

.short-administration-text {
  display : none;

  @media ((min-width : 992px) and (max-width : 1200px)) {
    display : inline !important;
  }
}

.buttons-container {
  margin-left  : 0 !important;
  padding-left : 0 !important;

  li:first-of-type {
    margin-right : 2rem;
  }

  li .btn {
    min-width : 9rem !important;
  }

  @media ((max-width : 477px)) {
    li {
      &:first-of-type {
        margin-bottom : .5rem;
      }

      a {
        min-width : 17rem;
      }
    }
  }
}

#language-list-item {
  > a {
    align-items : center;
    display     : flex;
    font-size   : 1.2rem;
    height      : 100%;

    @media ((max-width : 992px)) {
      justify-content : center;
    }
  }

  .dropdown-menu a {
    text-align : left;

    @media ((max-width : 992px)) {
      text-align : center;
    }
  }
}

.navbar-toggler {
  &:focus {
    box-shadow         : 6px 6px 14px -4px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow : 6px 6px 14px -4px rgba(0, 0, 0, 0.56);
    -moz-box-shadow    : 6px 6px 14px -4px rgba(0, 0, 0, 0.56) !important;
  }

  background         : rgba(255, 255, 255, 0.89);
  border-radius      : 6px;
  box-shadow         : 6px 6px 14px -4px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow : 6px 6px 14px -4px rgba(0, 0, 0, 0.56);
  -moz-box-shadow    : 6px 6px 14px -4px rgba(0, 0, 0, 0.56) !important;
  font-size          : 3.5rem !important;
  padding            : .3rem;
  margin-right       : 1rem !important;
}
